*{
    margin: 0;
    padding: 0;
}


body{
    width: 1320px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    padding: 40px 0 0 0;
}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    margin: 20px 0px 8px 0px;
}

h2{
    margin: 20px 0;
}

header img{
    width: 120px;
    height: 60px;
}

nav ul{
    display: flex;
    padding: 0;
}

nav li{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    font-size: 1.1em;
    margin-left: 50px;
}

#lien_1{
    color: #0065fc;
}

#lien_2{
    color: #1f1f1f;
}


#lien_3{
    color: #0065fc;
    font-weight: bold;
}

#trait_dessus{
    border-top: 2px solid #0065fc;
    width: 150px;
    height: auto;
    position: relative;
    bottom: 40px;
    left: 36px;
}


form{
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;
}

input{
    position: relative;
    display: inline-block;
    font-size: 15px;
    height: 40px;
    box-shadow: none;
    border: 0 none;
    outline: 0;
}

input[type="text"]{
    width: 150px;
    height: 42px;
    padding: 0px 20px;
    border: 1px solid rgb(233, 233, 233);
}

#ville::placeholder{
    color: black;
    font-size: 1em;
    font-weight: bolder;
}

input[type="submit"]{
    position: relative;
    left: -5px;
    border-radius: 0 10px 10px 0;
    width: 110px;
    height: 45px;
    background: #0065fc;
    color: white;
    padding: 12px;
    font-weight: 500;
}


.logo{
    width: 17px;
    height: 17px;
}

#barre-recherche img{
   
    width: 16px;
    height: 16px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 20% 0% 0% 20%;
    background-color: rgb(233, 233, 233);
    padding: 13px 13px;
}

#filtre{
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-weight: bold;
}

#filtre p{
    margin-right: 40px;
}

.style-filtre img{
    position: relative;
    left: -5px;
    width: 17px;
    height: 17px;
    background-color: #deebff;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.style-filtre{
    display: flex;
    align-items: center;
    margin-right: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 50px 50px;
    padding: 0 15px 0 0;
    max-width: 300px;
}


.style-filtre:hover{
    background: #0065fc;
    border: 1px solid #0065fc;
    color: white;
    transition: 1.2s;
}



.infos{
    display: flex;
    align-items: center; 
    margin: 25px 0;  
}

.infos img{
    margin-right: 10px;
    width: 17px;
    height: auto;
    border: 1px solid #e0e0e0;
    border-radius: 50px;
}

#hotel{
    display: flex;
    margin: 30px 0 50px 0;
}

#grid-gauche{
    background-color: #f2f2f2;
    width: 100%;
    max-width: 850px;
    height: auto;
    border-radius: 20px;
    padding: 20px 25px 30px 25px;
    margin-right: 40px;
    
}

#grid-hebergement{
    display: grid;
    grid-template: repeat(2, 215px)  / repeat(3, 240px);
    column-gap: 40px;
    row-gap: 40px;
    justify-items: center;
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
}

#para_hebergement{
    font-weight: bold;
}

.box1, .box2, .box3, .box4, .box5, .box6{
    display: grid;
    grid-template: 130px repeat(3, 25px) / 240px;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-decoration: none;
}

.box1{
    grid-area: 1 / 1 / 2 / 2;  
}

.box2{
    grid-area: 1 / 2 / 2 / 3;
}

.box3{
    grid-area: 1 / 3 / 2 / 4;
}

.box4{
    grid-area: 2 / 1 / 3 / 2;
}

.box5{
    grid-area: 2 / 2 / 3 / 3;
}

.box6{
    grid-area: 2 / 3 / 3 / 4;
}

#grid-hebergement .divImg{
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 10px 10px 0 0;
}

.box1 .divImg{
    background: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.box2 .divImg{
    background: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.box3 .divImg{
    background: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.box4 .divImg{
    background: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.box5 .divImg{
    background: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.box6 .divImg{
    background: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg); 
    background-size: cover;
    background-position: 50% 50%;
}

.star img{
    width: 12px;
    height: auto;
}

#grid-hebergement .titre, .prix, .star{
    margin-left: 10px;
    margin-top: 7px;
}


.titre, .titre-populaire, .titre-activite{
    font-weight: 900;
    color: black;
}

#grid-droit{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 400px;
    height: 600px;
    padding: 20px 30px 40px 30px;
}

#logo_chart{
    width: 25px;
    height: auto;
}

.header-populaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#grid-populaire{
    display: grid;
    grid-template: repeat(2, 164px) / 375px ;
    row-gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 301px;
}

.box7, .box8, .box9{
    display: grid;
    grid-template: repeat(2, 42px) 70px / 150px 175px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-decoration: none;
}

#grid-populaire .divImg{
    grid-area: 1 / 1 / 4 / 2;
    border-radius: 15px;
}

.box7 .divImg{
    background: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.box8 .divImg{
    background: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.box9 .divImg{
    background: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.star-populaire img{
    width: 12px;
    height: auto;
}

#grid-populaire .star-populaire{
    align-self: flex-end;
}

.prix, .prix-populaire{
    color: black;
}

.titre-populaire, .prix-populaire, .star-populaire{
    margin: 10px 0 10px 20px;
}

#grid-activites{
    display: grid;
    grid-template: 194px 41px 43px 164px / 301px;
    column-gap: 40px;
}

.box10, .box11, .box12, .box13, .box14, .box15{
    grid-template: 152px 56px / 301px;
    max-width: 360px ;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
}

.box10{
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    grid-template: 388px 56px / 301px;
    width: 100%;
      
}

.box11{
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template: 185px 56px / 301px;  
}

.box12{
    grid-area: 4 / 2 / 5 / 3;
    display: grid;
    grid-template: 110px 56px / 301px;  
}

.box13{
    grid-area: 1 / 3 / 5 / 4;
    display: grid;
    grid-template: 388px 56px / 301px;
}

.box14{
    grid-area: 1 / 4 / 2 / 5;
    display: grid;
    grid-template: 140px 56px / 301px;  
}

.box15{
    grid-area: 3 / 4 / 5 / 5;
    display: grid;
    grid-template: 152px 56px / 301px; 
}

.box10 .img{
    background: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 20px 20px 0 0;
}

.box11 .img{
    background: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    grid-area: 1 / 1 / 2 / 2
}

.box12 .img{
    background: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    grid-area: 1 / 1 / 2 / 2
}

.box13 .img{
    background: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    grid-area: 1 / 1 / 2 / 2
}

.box14 .img{
    background: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    grid-area: 1 / 1 / 2 / 2
}

.box15 .img{
    background: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    grid-area: 1 / 1 / 2 / 2;
}

#grid-activites .titre-activite{
    align-self: center;
    margin-left: 20px;
}

footer{
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 80px;
    display: flex;
}

footer p{
    margin-bottom: 10px;
}
.colone1, .colone2{
    margin-right: 300px;
}























@media screen and (max-width: 375px) {

    *{
        margin: 0;
        padding: 0;
    }

    body{
        max-width: 375px;
    }


    #grid-droit{
        max-width: 350px;
    }

    #grid-activites{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        grid-template-columns:repeat(6, 200px);
    }


    
    #hotel{
        max-width: 350px;
        display: flex;
        flex-direction: column-reverse;
    }

    #filtre{
        display: flex;
        flex-wrap: nowrap;
        
        max-width: 250px;
    }







    header{
        display: flex;
        flex-direction: column;
    }

    h1{
        width: 320px;
    }

    #trait_dessus{
        border-top: 0px;
    }

    #trait_dessous{
        background: linear-gradient(to right, #0065FC 50%, #e0e0e0 50%);
        width: 375px;
        height: 2px;
        margin: 20px 0 30px 0;

    }

    #lien_1{
        position: relative;
        right: 20px;
    }

    #lien_2{
        position: relative;
        left: 25px;
    }

    #lien_3{
        position: relative;
        bottom: 67px;
        right: 48px;
    }

    nav{
        margin-top: 30px;
    }


    footer{
        display: flex;
        flex-direction: column;
    }





    #grid-hebergement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 375px;
        margin: 0 0 15px 0;
    }

    #grid-gauche{
        margin: 0;
        padding: 0;
        background: white;
    }

    .box1, .box2, .box3, .box4, .box5, .box6{
        grid-template:  130px repeat(3, 25px) / 340px; ;
  }








































